<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">


   <title>Home</title>
   <link href="{{ url_for('static', filename='login.css') }}" type="text/css" rel="stylesheet">

 </head>


 <body>

  {% block body %}{% endblock %}

    <header>
      <div class="container">
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('personalPlannerIndex') }}">Plan your Personal Planner</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>


 </body>
</html>
