{% extends "homelayout.html" %}
{% block body %}

<!DOCTYPE html>
<html>
  <body>

    <h3>{{data}}</h3>


  	<div class="home">

	   <div class="container">
	   	 <h1>Home Page</h1>
	     <p>This website was built with Python via the Flask framework.</p>

	        <div class="header" style='float: right;'>
	            <nav>
	              <ul class="nav nav-pills pull-right">
	                <li role="presentation" class="active"><a href="/logout">Logout</a></li>
	              </ul>
	            </nav>
	        </div>
	    </div>
	</div>

  </body>
</html>

{% endblock %}